# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Sistema operativo
.DS_Store
Thumbs.db

# Ambiente / build
dist/
build/
.env
# Google Cloud TTS service account key (ignore anywhere in repo)
**/goggle-tts-467809-8c23f1a0b869.json